{{ if site.Params.features.comment.giscus }}
{{ $config := site.Params.features.comment.giscus }}
<script src="https://giscus.app/client.js" data-repo="Kyrrego/academic_resume_YunruiZhang" data-repo-id="R_kgDOKU0ivQ"
  data-category="Announcements" data-category-id="DIC_kwDOKU0ivc4CaRBZ" data-mapping="pathname" data-strict="0"
  data-reactions-enabled="1" data-emit-metadata="0" data-input-position="top" data-theme="preferred_color_scheme"
  data-lang="en" data-loading="lazy" crossorigin="anonymous" async>
  </script>
{{ end }}